*{
    box-sizing: border-box;
}

body {
    background-image: url("/images/morgengry-berlin-5010635_1920.jpg");
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}

.container {
    background: #000;
    max-width: 600px;
    height: 800px;
    margin: 0 auto;
}

.tip-percentage{
    padding: 20px;
    margin: 0 auto;
}

html{

}

.container{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.tip-percentage{
    max-width: 600px;
    display: block;
    flex-direction: row;
    justify-content: space-between;
}

.percentage{
}

button{
    background: navy;
}

button:hover{
    opacity: 70%;
}

#no_tip{
    margin-top: 10px;
    background: crimson;
}

#amount{
    height: 30px;
    width: 150px;
    background: aliceblue;
}

button{
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    color:#fff;
}