html,
body {
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #0e2957;
  padding: 1em;
  margin: 0;
}

.link {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  margin: 0.5rem;
  transition: all 500ms;
}

.link:hover,
.link:focus {
  color: #fff582;
}

@media (min-width: 1000px) {
  .navbar {
    flex-direction: row;
    justify-content: space-around;
  }
}

.btn-chall {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background-color: #dbf4ff;
}

.btn {
  text-decoration: none;
  font-family: helvetica, arial;
  font-size: 0.9rem;
  padding: 0.75rem;
  text-transform: uppercase;
  background: none;
  color: #2c2c2c;
  border: 1px solid #4a4a4a;
  transition: all 200;
}

.btn:hover {
  border: 1px solid #ababab;
  color: #2c2c2c;
  font-size: 1.1rem;
}

.name-input-container {
  margin: 1em;
}
h1 {
  text-align: center;
  font-size: 32px;
}

h3 {
  color: #fff;
  padding-top: 30px;
  padding-left: 30px;
}

div {
  display: block;
}

.name {
  font-weight: 800;
}
/* CHALLENGE 3*/

.image {
  max-width: 400px;
  max-height: 400px;
  height: 400px;
  background-image: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 1em;
}

.input-div {
  margin: 0.5em;
  margin-left: 1em;
}
