.flex-container {
  width: 70%;
  max-width: 60rem;
  border: 5px solid #000;
  padding: 2em;
  display: inline-flex; 
  /* INline block outer display values change other values around it 
  flex focuses on the inner values
  inline-flex
  */
}

.flex-item {
  margin: 0.5rem;
  border: 5px solid #aaa;
  background-color: #000;
  color: #fff;
  padding: 0.5em;
}
