*{
    box-sizing: border-box;
}

body{
    padding: 0px;
    margin: 0px;
}

ul{

}

li{

}

ul li{

}

#container{
    max-width: 600px;
    margin: 0px auto;
    margin-top: 1.3rem;
    background: royalblue;
}
#search{
    display: flex;
    padding: 1.3rem;
    background: orange;
}

#search label{
    font-size: 24px;
    font-weight: bold;
    margin-right: 1rem;
}
#searchInput{

}

#results{
    display: block;
    padding: 10px;
}

.name{
    width: 100%;
    padding: 10px 0;
    text-align: center;
    list-style: none;
    background: white;
    margin: 1rem 0;
}