body{
    background-color: black;
    margin: 0 auto;
}

div.brick{
    background-color: blue;
}

div.row div{
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    display: inline-block;
}

div.coin{
    background: url('coin.gif');
    background-repeat: no-repeat;
    background-position: center;
}

div#pacman{
    background: url('pacman.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-color: black;
    width: 20px;
    height: 20px;
    position: absolute;
}

div.empty{}

div#world{
    position: relative;    
}

div#container{

}