*{

}

body{
    box-sizing: border-box;
    background-image: url('/images/pattern-background-desktop.svg');
}

.container{
    padding:80px;
    display: flex;
    border-radius: 50px;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

.text-container{
    height: 60vh;
    background: aliceblue;
    margin: auto;
}

.buttons{
    display: flex;
    flex-direction: column;
}

button{
    width: 200px;
}