* {
}

html,
body {
  margin: 10;
  padding: 10;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  height: 420px;
  border: solid black;
}

.grid div {
  width: 15px;
  height: 15px;
}

#score {
}

.pac-dot {
  background: green;
  border: 5px solid white;
  box-sizing: border-box;
}

.wall {
  background: blue;
}

.power-pellet {
  background: green;
  border-radius: 7.5px;
}

.pacman {
  background: yellow;
  border-radius: 7.5px;
  border: none;
}
