/*
Challenge:
Center the text in the <p> and <h4> elements.

Note: you should only add ONE property, as inheritance
should take care of applying it to both elements.
*/

*{
    font-family: "Playfair Display", "BBH Bogle","Young Serif","Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body {
    margin: 20px;
}
.container{
    margin: 0 auto;
}

.avatar{
    width: 150px;
}

.card{
    padding: 20px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    color: aliceblue;
    background-color: #007241;
    border-bottom: 8px solid #96e4fa;
    border-radius: 8px;
}
.card-info{
    padding-left: 40px;
    display: flex;
    flex-direction: column;
}

h3{
    font-family: "Playfair Display";
}

h4{
    font-family: "BBH Bogle";
    font-size: 22px;
}

p{
    font-family: "Outfit";
}




/* .blue-border{
    border: 1px dotted dodgerblue;
} */



