*,
*::before,
*::after{
    box-sizing: border-box;
}
/** Custom Properties Modify to your specifications**/
:root{
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    --ff-font-weight-reg: 300;
    --ff-font-weight-bold: 900;
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;
    --clr-neon: hsl(317 100% 54%);
    --clr-bg: hsl(323 21% 16%)

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25), 
    0.125em 0.125em 0.25em rgba(0,0,0,.15);

    --clr-main: hsl(320 100% 58%);
    --clr-secondary: hsl(402 90% 75%);
}

@media (min-width: 800px) {
    :root{
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
    }
}

@media (min-width: 600px) {
    .intro{
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
        'img title'
        'img subtitle';
        grid-template-columns: min-content max-content;
    }

    .intro__img{
        grid-area: img;
        min-width: 400px;
        position: relative;
        z-index: 2;
    }
    .section__subtitle--intro{
        align-self: start;
        grid-column: -1/1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.4em;
        width: calc(100% + 1.5em);
    }
}

/**General Styles **/

body{
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0 auto;
    font-family: var(--ff-primary);
    line-height: 1.6;
}

img{
    display: block;
    max-width: 100%;
}

h1, h2, h3{
    line-height: 1;
    margin:0;
}

h1{ font-size: var(--var(--fs-h1))}
h2{ font-size: var(--var(--fs-h2))}
h3{ font-size: var(--var(--fs-h3))}

strong{
    font-weight: var(--ff-font-weight-bold);
}

section{
    padding: 5em 2em;
}

/**Classes**/

.section__title--intro{
    font-weight: var(--ff-font-weight-reg);
}

.section__title--intro strong {
    display: block;
}

.section__tile{
    margin-bottom: .25em;
}

.section__subtitle{
    margin: 0;
    font-size: var(--var(--fs-h3));
}
.section__subtitle--intro,
.section__subtitle--about{
    background: var(--clr-accent);
    padding: .25em .5em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}



.logo{

}

.nav{

}
.nav-toggle{

}

.nav__list{

}

.nav__item{

}

nav{
    display:none;
}

/** Intro Section**/
.intro{
    position: relative;
}

.intro__img{
    box-shadow: var(--bs);
}
.section__title section__title--intro{

}

.section__subtitle section__subtitle--intro{

}

/**Services **/
.my-services{
    background-color: var(--clr-accent);
    background-image: url(../img/waterdrop.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;
}

.section__title--services{
    color: var(--clr-light);
    position: relative;

}

.section__title--services::after{
    content: '';
    display: block;
    width: 25%;
    height: 1px;
    position: center;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: .5;
}
.service{
    max-width: 500px;
    margin: 0 auto;
}
@media (min-width:800px){
    .services{
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    .service + .service{
        margin-left: 2em;

    }
}

.services{
    margin-bottom: 3em;
}



/*Buttons*/

.neon-button{
    font-size: 2rem;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: currentColor .125em solid;
    padding: .25em 1em;
    border-radius: .25em;
    text-shadow:  
    0 0  0.125em hsl(0 0% 100%/0.3),
    0 0 0.45em currentColor;
    box-shadow: inset 0 0 .5em 0 var(--clr-neon), 
    0 0 .5em 0 var(--clr-neon);
    position: relative;
    font-weight: bold;
    transition: background-color 100ms linear;
}

.neon-button::before{
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--clr-neon);
    top: 120%;
    left: 0;
    width:100%;
    height: 100%;
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1.5em);
    opacity: 0.7;
}

.neon-button:hover,
.neon-button:focus{
    background: var(--clr-neon);
    color: var(--clr-bg);
    text-shadow: none;
}

.neon-button:after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 1em .5em var(--clr-neon);
    z-index: -1;
    opacity: 0;
    transition: opacity 100ms linear;
}

.neon-button:hover::before,
.neon-button:focus::before{
    opacity: 1;
}

.neon-button:hover::after,
.neon-button:focus::after{
    opacity: 1;
}

/**About Me **/

.about-me{
    max-width: 1000px;
    margin: 0 auto;
}

@media(min-width:600px){
    .about-me{
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }
    .section__title--about{
        grid-area: title;
    }
    .about-me-img{
        grid-area: img;
        position: relative;
        z-index: 2;
    }
    .section__subtitle--about{
        grid-column: 1/-1;
        grid-row: 2;
        position: relative;
        left: -2em;
        width: calc(100% + 4em);
        padding-left: 2em;
        padding-right: calc(200px + 4em);
    }

}
.section__title section__title--about{

}

.section__subtitle section__subtitle--about{

}

/**My Work**/
.my-work{
 
}
.section__title section__title--my-work{

}

/**Portfolio**/
.portfolio{

}

.portfolio__item{

}

/**Footer**/

.footer__link{

}
.social-list{

}
.social-list__item{

}
.social-list__link{

}

/** IDs**/

#home{

}

#services{

}

#about{

}