body {
  background-color: #aebf8e;
  display: flex;
}

.dice {
  width: 90px;
  height: 90px;
  border-radius: 10px;
  background-color: #efe5dc;
  margin: 100px;
}

.dot {
  width: 20px;
  border-radius: 15px;
  height: 20px;
  background-color: black;
  margin: 35px;
}

.two-dot {
  width: 20px;
  border-radius: 15px;
  height: 20px;
  background-color: black;
  margin: 35px;
}

.three-dot {
  width: 20px;
  border-radius: 15px;
  height: 20px;
  background-color: black;
  margin: 35px;
}

.four-dot {
  width: 20px;
  border-radius: 15px;
  height: 20px;
  background-color: black;
  margin: 35px;
}

.five-dot {
  width: 20px;
  border-radius: 15px;
  height: 20px;
  background-color: black;
  margin: 35px;
}

.six-dot {
  width: 20px;
  border-radius: 15px;
  height: 20px;
  background-color: black;
  margin: 35px;
}
