body {
  background-color: #aebf8e;
  display: flex;
}

.dice {
  width: 90px;
  height: 90px;
  border-radius: 10px;
  background-color: #efe5dc;
  margin: 100px;
  display: flex;
  flex-wrap: wrap;
}

.dice div {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.dot {
  border-radius: 10px;
  background-color: black;
}
