body{
    background-color:#F1c40F;
    text-align:center;
}

button{
    border: 20px solid #000;
    margin: 30px;
    padding:30px;
    color: white;
    font-size: 2rem;
    outline: none;
    cursor: pointer;
    background-color: #2274A5;
}