body{
    background-image: url('../images/poker.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: goldenrod;
    font-size: 36px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: aliceblue;
    background: rgb(3, 108, 98);
    width: 400px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 8px;
}

button{
    background: goldenrod;
    border-radius: 8px;
    border: none;
    padding: 14px 20px;
    color: forestgreen;
}

.button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}