* {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: whitesmoke;
  background-color: #000;
}

header {
  background: slategray;
}
nav {
  padding: 2rem;
}
ul {
  list-style: none;
  text-align: center;
}
section {
  padding: 3rem;
}

img {
  width: 100%;
  height: auto;
  border: none;
}

h1,
h2,
h4 {
  text-align: center;
}

button {
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: aliceblue;
  font-weight: bold;
  padding-bottom: 1rem;
}

.logo {
  margin: 0 auto;
}

/* sections */

.button-div {
  text-align: center;
}
.btn-readmore {
  padding: 1rem 1.5rem;
  color: #000;
  background: slateblue;
  border: none;
  border-radius: 0.8rem;
}

.btn-readmore:hover {
  color: whitesmoke;
  background: crimson;
}

/* footer */

@media (min-width: 768px) {
  ul {
    display: flex;
  }
}
