{% comment %}
  The contents of the collection.liquid template can be found in /sections/collection-template.liquid
  {% layout 'theme.alternate'%} will change the  theme to whats on layout -> theme.liquid
{% endcomment %}
<div>
  <h1>Collections</h1>
{% section 'collection-template'%}
</div>
