* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Hubballi", cursive;
  font-family: "League Gothic", sans-serif;
}
nav {
  padding: 2rem;
  background: peru;
  text-align: center;
}

.nav-link:hover {
  opacity: 0.75;
}

.nav-list {
  padding-top: 1rem;
  list-style: none;
}
.nav-link {
  text-decoration: none;
  font-size: 2rem;
  color: aliceblue;
  font-weight: bold;
  align-items: center;
}

.nav-item {
  margin-top: 1rem;
}
.hamburger {
  display: block;
  position: relative;
  margin-top: 1rem;
}
.hamburger,
.hamburger::before,
.hamburger::after {
  background: rgb(218, 218, 218);
  width: 2rem;
  height: 5px;
  border-radius: 1rem;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}
.hamburger::after {
  bottom: 6px;
}
.nav-toggle {
  padding: 0.25rem;
  background: transparent;
  border: none;
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 1000;
}

.nav-open nav {
  transform: translateX(0);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(0.625turn);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.section-title {
  padding: 2rem;
  text-align: center;
  background: slategray;
  color: aliceblue;
  background-image: url(../images/);
}
.post-header {
  font-size: 3rem;
}
.post-text {
  font-size: 2rem;
}

.btn {
  padding: 0.75rem 2rem;
  margin-top: 1rem;
  color: aliceblue;
  font-size: 1rem;
  border: none;
  background: green;
  cursor: pointer;
  font-weight: bold;
}

#new-post {
  padding: 2rem;
  background: #16e0bd;
  border-radius: 0.5rem;
  background-image: url(imgs/waterdrop.jpg);
  background-size: cover;
  background-blend-mode: multiply;
}

.btn:hover {
  opacity: 0.75;
  cursor: pointer;
}

footer {
  padding: 3rem;
  background: #23424a;
}

@media (min-width: 700px) {
  .nav-list {
    display: flex;
    list-style: none;
    align-items: right;
  }

  .svg-icon {
    color: black;
  }

  .nav-item {
    margin-left: 3rem;
  }

  .nav-link {
    text-decoration: none;
    font-size: 2rem;
    color: aliceblue;
    font-weight: bold;
  }
  nav {
    padding: 2rem;
    background: peru;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    line-height: 4.5;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);*/
  }
}

/* ids */

#blog-space {
  padding: 3rem;
  background: black;
  color: white;
}
