* {
  box-sizing: border-box;
}
body {
  font-family: "Karla", sans-serif;
  margin: 0;
  padding: 0;
  padding: 2em;
  background: skyblue;
}

header {
  margin: 0 auto;
  display: block;
}

nav {
  text-align: center;
  display: inline;
  padding: 0.25rem;
  height: 1.6rem;
}

ul {
  list-style-type: none;
  padding: 1rem;
  margin: 1rem;
  width: 100%;
  overflow: hidden;
  background-color: #f1f1f1;
}
li {
  display: inline;
  float: right;
}

li a,
img {
  display: block;
  color: #000000;
  padding: 0.9rem 1rem;
  text-decoration: none;
}

li a:hover {
  background: #555555;
  color: aliceblue;
}

.active {
  background: #04aa6d;
  color: white;
}

p {
  width: 100%;
}

.form {
  margin-top: 5rem;
  display: grid;
  text-align: center;
  /* padding-top: 60px 10px 10px; */
  height: 450px;
  width: 50%;
  background: grey;
  color: aliceblue;
  font-weight: 800;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form h2 {
  text-shadow: 2px 2px red;
}

.form input {
  box-shadow: 2px 2px blue;
}

.post {
  background: #04aa6d;
  color: #f1f1f1;
  border: none;
  padding: 1rem 2rem;
  border-radius: 4px;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  box-shadow: 5px 5px 5px #000;
}

.post:hover {
  background: crimson;
  color: #021;
}

.submit:hover {
  background: crimson;
  color: #000;
  cursor: pointer;
  font-weight: 900;
}

#items {
  margin-bottom: 3rem;
  margin: 0 auto;
  background: #555555;
  padding: 20px;
  color: aliceblue;
}

/* footer */

footer {
  margin-top: 1rem;
  height: 100%;
  width: 100%;
  padding: 1.4rem;
  background: slateblue;
}
footer h3 {
  color: aliceblue;
  text-align: center;
}

/* carousel feature */

.carousel {
  position: relative;
  max-width: 600px;
}

.carousel-item {
  background: slate;
  padding: 20px;
  display: none;
}
.carousel-item img {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: 0 auto;
}

.carousel-item-visible {
  display: block;
}

.carousel-actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(50%);
}

.carousel-actions button#carousel-button-next {
  margin: 0 1.6rem;
}

.carousel-actions button#carousel-button-prev {
}
#carousel-button-previous,
#carousel-button-after {
  color: #000;
  font-size: 1.5rem;
  font-weight: 900;
  background-color: aqua;
  border: none;
  position: relative;
  border-radius: 50%;
  padding: 1.7rem;
}
#carousel-button-after {
}

#carousel-button-previous:hover,
#carousel-button-after:hover {
  color: aliceblue;
  font-size: 1.5rem;
  font-weight: 900;
  background-color: crimson;
  border: none;
  position: relative;
  border-radius: 50%;
  padding: 1.7rem;
}
